<ion-toolbar color="light">
  <ion-title style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">skeleton APP</ion-title>
</ion-toolbar>
<br/>
<br/>
<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title style="font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;">Bienvendo!</ion-card-title>
    <ion-card-subtitle (click)="onClick($event)" style="font-size: 15px; text-align: center;">Usuario: {{nombre}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form #form="ngForm" (ngSubmit)="presentAlert(form)">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="nombre" ngModel maxlength="10" minlength="3" type="text" placeholder="Primer nombre"></ion-input>
      
      <ion-label position="floating">Apellido</ion-label>
      <ion-input name="apellido" ngModel maxlength="10"  min="3" type="text"  placeholder="Apellido"></ion-input>

      <ion-label position="floating">Educacion</ion-label>
      <ion-select name="educacion" ngModel>
        <ion-select-option value="m">media</ion-select-option>
        <ion-select-option value="s">superior</ion-select-option>
      </ion-select>
      <hr/>
      <br/>
      <ion-button (click)="limpiar($event)">Limpiar</ion-button>
      <span></span>
      <ion-button type="submit" >Mostrar</ion-button>
    </form>
  </ion-card-content>
  </ion-card>
</ion-content>
